<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <aside class="span8">
    <%= render 'shared/micropost_form' %>
    <% if @user.microposts.any? && current_user.admin? %>
    	<%= will_paginate @microposts %>
      <h3>Chinazos: (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
      	<!--The next line automatically render each micropost using the _micropost.html.erb partial-->
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </aside>
</div>