<li>
  <span class="content"><%= micropost.content %></span>
  By: <%= micropost.user.name %></br>
  Votes round 1: <%= micropost.votes_round1 %></br>
  Votes round 2: <%= micropost.votes_round2 %></br>
  <span class="timestamp">

    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>